[submodule "nords_stuff"]
	path = nords_stuff
	url = https://github.com/Remynder0/nords_stuff.git
[submodule "gamer_quiz"]
	path = gamer_quiz
	url = https://github.com/Remynder0/gamer_quiz
[submodule "night_city"]
	path = night_city
	url = https://github.com/Remynder0/night_city
